[data-theme = "light"]{
  --bg-color: #ffffff;
  --text-color: #333333;
  --heading-color: #444444;
}

[data-theme = "dark"]{
  --bg-color: #333333;
  --text-color: #ffffff;
  --heading-color: #dddddd;
}
body{
  font-family: sans-serif;
  padding: 0 30px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.navBar{
  display: flex;
  align-items: center;
  height: 8vh;
  color: var(--heading-color);
}

.navBar div{
  display: flex;
  gap: 20px;
  color: var(--heading-color);
  flex-grow: 1;
}

.navBar button{
  color: var(--text-color);
  background: inherit;
  font-size: 16px;
}

.pages{
  display: flex;
  flex-direction: column;
  height: 92vh;
  color: var(--text-color);
}

.navBar a{
  text-decoration: none;
  color: var(--text-color);
}